In [4]:
import pandas as pd    # For data manipulation
import numpy as np     # For numerical operations
import matplotlib.pyplot as plt  # For visualizations
import requests

In [11]:
r = requests.get("https://api.financialdatasets.ai/prices/tickers/")

In [12]:
print(r)

<Response [200]>

In [20]:
tickers = r.json()['tickers']
df = pd.DataFrame(tickers)
df.columns = ['Ticker']

In [22]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9219 entries, 0 to 9218
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ticker  9219 non-null   object
dtypes: object(1)
memory usage: 72.2+ KB

     Ticker
0         A
1        AA
2      AAAU
3      AACB
4     AACBU
...     ...
9214   ZVSA
9215    ZWS
9216   ZYBT
9217   ZYME
9218   ZYXI

[9219 rows x 1 columns]