In [27]:
import os
import time as tm
import pandas as pd
import numpy as np
import datetime as dt
import sqlalchemy as sa
from dotenv import load_dotenv
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [7]:
load_dotenv()

# Load the model
model = tf.keras.models.load_model('../../models/F1.model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [47]:
# LOAD DATA 
date_now = dt.datetime(2024, 1, 1)
# date_3_days_back = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
date_3_days_back = (date_now - dt.timedelta(days=3)).strftime('%Y-%m-%d')
STOCK = 'F'
DB_URI = f'postgresql://{os.environ["PG_USER"]}:{os.environ["PG_PASS"]}@{os.environ["PG_URL"]}/{os.environ["PG_DB"]}'
QUERY = f"SELECT * FROM stocks_daily_price WHERE symbol = '{STOCK}' AND date >= '{date_3_days_back}'"
# coltype = (
#     sa.Column('symbol', sa.String),
#     # sa.Column('date', sa.Date, primary_key=True),
#     sa.Column('open', sa.Float),
#     sa.Column('high', sa.Float),
#     sa.Column('low', sa.Float),
#     sa.Column('close', sa.Float),
#     sa.Column('volume', sa.Integer),
# )
try:
    engine = sa.create_engine(DB_URI)
    with engine.connect() as connection:
        init_df = pd.read_sql_query(QUERY,
                                    index_col=['date'],
                                    parse_dates=['date'],
                                    # dtype=coltype,
                                    con=connection)
        print(init_df.shape)
        print(init_df.info())
        print(init_df.head())
except Exception as e:
    print(e)
finally:
    if 'engine' in locals():
        engine.dispose()

(283, 6)
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 283 entries, 2023-12-29 to 2025-02-14
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   symbol  283 non-null    object
 1   volume  283 non-null    int64
 2   close   283 non-null    float64
 3   open    283 non-null    float64
 4   high    283 non-null    float64
 5   low     283 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 15.5+ KB
None
           symbol    volume      close       open       high        low
date
2023-12-29      F  40902400  11.392626  11.542161  11.579544  11.364588
2024-01-02      F  47494800  11.364590  11.252439  11.570199  11.158980
2024-01-03      F  70120100  10.944025  11.233748  11.243093  10.878604
2024-01-04      F  54920300  10.915987  10.990754  11.046829  10.869257
2024-01-05      F  44409300  11.074866  10.887948  11.252438  10.869257

In [48]:
# remove columns which our neural network will not use
init_df = init_df.drop(['open', 'high', 'low', 'symbol', 'volume'], axis=1)
# create the column 'date' based on index column
init_df['date'] = init_df.index

In [49]:
# Ensure the 'close' column is numeric
# init_df['close'] = pd.to_numeric(init_df['close'], errors='coerce')

# Drop any rows with NaN values that may have been introduced by the conversion
init_df = init_df.dropna(subset=['close'])

In [50]:
scaler = MinMaxScaler()
init_df['scaled_close'] = scaler.fit_transform(np.expand_dims(init_df['close'].values, axis=1))

In [51]:
init_df

                close       date  scaled_close
date
2023-12-29  11.392626 2023-12-29      0.443191
2024-01-02  11.364590 2024-01-02      0.437499
2024-01-03  10.944025 2024-01-03      0.352101
2024-01-04  10.915987 2024-01-04      0.346408
2024-01-05  11.074866 2024-01-05      0.378669
...               ...        ...           ...
2025-02-10   9.240000 2025-02-10      0.006092
2025-02-11   9.210000 2025-02-11      0.000000
2025-02-12   9.230000 2025-02-12      0.004061
2025-02-13   9.350000 2025-02-13      0.028428
2025-02-14   9.480000 2025-02-14      0.054825

[283 rows x 3 columns]

In [52]:

# Predict the next 3 days prices
predictions = model.predict(init_df['scaled_close'])
# y_predicted_transformed = np.squeeze(scaler.inverse_transform(predictions))

# Print the predictions
print(predictions)
# print("Predicted prices for the next 3 days:", y_predicted_transformed)

9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
[[0.4366482 ]
 [0.4335006 ]
 [0.3860646 ]
 [0.38288832]
 [0.40086466]
 [0.4135208 ]
 [0.3998087 ]
 [0.3987527 ]
 [0.3860646 ]
 [0.35954916]
 [0.35954916]
 [0.33932948]
 [0.30943757]
 [0.3318666 ]
 [0.3318666 ]
 [0.34997833]
 [0.31371427]
 [0.34678525]
 [0.35210627]
 [0.36910683]
 [0.3934691 ]
 [0.3871228 ]
 [0.42719942]
 [0.431401  ]
 [0.3733505 ]
 [0.4240458 ]
 [0.50020033]
 [0.50330186]
 [0.48777008]
 [0.5187738 ]
 [0.48777008]
 [0.47530347]
 [0.5061766 ]
 [0.48277628]
 [0.47743988]
 [0.46567708]
 [0.46353513]
 [0.46567708]
 [0.44528866]
 [0.45066255]
 [0.48277628]
 [0.49768263]
 [0.49874544]
 [0.5294404 ]
 [0.5125352 ]
 [0.49130076]
 [0.4944929 ]
 [0.46995807]
 [0.4624638 ]
 [0.4624638 ]
 [0.49023604]
 [0.45924824]
 [0.4571033 ]
 [0.46995807]
 [0.48277628]
 [0.5462689 ]
 [0.54836696]
 [0.547318  ]
 [0.5462689 ]
 [0.49768263]
 [0.56301725]
 [0.58590984]
 [0.58694655]
 [0.58590984]
 [0.62403286]
 [0.5786435 ]
 [0.58590984]
 [0.59936   ]
 [0.6127505 ]
 [0.56301725]
 [0.5609283 ]
 [0.5157105 ]
 [0.47530347]
 [0.4603203 ]
 [0.45495725]
 [0.4571033 ]
 [0.46567708]
 [0.5441696 ]
 [0.55046356]
 [0.5515115 ]
 [0.5609283 ]
 [0.5347077 ]
 [0.5304945 ]
 [0.46674764]
 [0.47209698]
 [0.5029934 ]
 [0.49661982]
 [0.5040549 ]
 [0.48467594]
 [0.48251712]
 [0.4803574 ]
 [0.46520895]
 [0.50190616]
 [0.5137095 ]
 [0.49975628]
 [0.5072757 ]
 [0.49652946]
 [0.48251712]
 [0.48251712]
 [0.46954226]
 [0.4781965 ]
 [0.4835968 ]
 [0.43149024]
 [0.41837716]
 [0.44130355]
 [0.4803574 ]
 [0.4868335 ]
 [0.46954226]
 [0.4738714 ]
 [0.4738714 ]
 [0.48251712]
 [0.5072757 ]
 [0.4781965 ]
 [0.47495317]
 [0.45978642]
 [0.4347635 ]
 [0.45001018]
 [0.44239265]
 [0.45978642]
 [0.4489227 ]
 [0.4911456 ]
 [0.4760344 ]
 [0.4781965 ]
 [0.4911456 ]
 [0.52440923]
 [0.5478404 ]
 [0.5594982 ]
 [0.5594982 ]
 [0.5563228 ]
 [0.5711159 ]
 [0.5626707 ]
 [0.5910858 ]
 [0.6223541 ]
 [0.679793  ]
 [0.6999934 ]
 [0.7160282 ]
 [0.7249975 ]
 [0.7319484 ]
 [0.6747165 ]
 [0.6889045 ]
 [0.65942407]
 [0.64301133]
 [0.37444615]
 [0.37775195]
 [0.35789257]
 [0.33908516]
 [0.33686945]
 [0.3224523 ]
 [0.24891987]
 [0.21311432]
 [0.22095299]
 [0.23686445]
 [0.27770013]
 [0.27430218]
 [0.24708477]
 [0.2788325 ]
 [0.28336096]
 [0.3150043 ]
 [0.32064363]
 [0.34428722]
 [0.3397891 ]
 [0.35888726]
 [0.36673647]
 [0.40584034]
 [0.3879949 ]
 [0.39134502]
 [0.38017106]
 [0.3879949 ]
 [0.39692426]
 [0.37345713]
 [0.37009764]
 [0.34990615]
 [0.32853258]
 [0.33753902]
 [0.29919547]
 [0.313876  ]
 [0.33303696]
 [0.34091365]
 [0.35327536]
 [0.36449474]
 [0.37345713]
 [0.36673647]
 [0.36225235]
 [0.3656156 ]
 [0.36113077]
 [0.31049025]
 [0.3397891 ]
 [0.35102928]
 [0.32627934]
 [0.34765905]
 [0.31726044]
 [0.313876  ]
 [0.32740593]
 [0.3183884 ]
 [0.3183884 ]
 [0.33303696]
 [0.3397891 ]
 [0.34428722]
 [0.36673647]
 [0.35776526]
 [0.3790524 ]
 [0.38352525]
 [0.38687778]
 [0.36225235]
 [0.3879949 ]
 [0.38240755]
 [0.40249842]
 [0.38352525]
 [0.41696572]
 [0.30936134]
 [0.3161325 ]
 [0.29580444]
 [0.2878877 ]
 [0.30371493]
 [0.33078504]
 [0.39692426]
 [0.38787353]
 [0.3890056 ]
 [0.41836393]
 [0.4037035 ]
 [0.4037035 ]
 [0.4003148 ]
 [0.39353186]
 [0.416111  ]
 [0.39805472]
 [0.36177993]
 [0.36973244]
 [0.41272986]
 [0.43747568]
 [0.4037035 ]
 [0.4037035 ]
 [0.40709007]
 [0.39013743]
 [0.37200284]
 [0.3629166 ]
 [0.32874066]
 [0.3367288 ]
 [0.34698725]
 [0.34242964]
 [0.32531476]
 [0.32303017]
 [0.32303017]
 [0.2772169 ]
 [0.27492094]
 [0.24273148]
 [0.24848522]
 [0.2645831 ]
 [0.2668811 ]
 [0.28066018]
 [0.28639632]
 [0.2818076 ]
 [0.2645831 ]
 [0.2668811 ]
 [0.23812683]
 [0.2645831 ]
 [0.26917878]
 [0.2507862 ]
 [0.24848522]
 [0.23812683]
 [0.24503328]
 [0.25308663]
 [0.2726243 ]
 [0.2795125 ]
 [0.2990051 ]
 [0.32759893]
 [0.2818076 ]
 [0.29671377]
 [0.29212952]
 [0.32188755]
 [0.2875433 ]
 [0.30244106]
 [0.29671377]
 [0.2875433 ]
 [0.26573223]
 [0.29671377]
 [0.2795125 ]
 [0.19316982]
 [0.19086179]
 [0.19086179]
 [0.18739955]
 [0.18970773]
 [0.2035531 ]
 [0.21854278]]

In [55]:
# Create a date range for the next 3 days
future_dates = pd.date_range(start=init_df.index[-1] + pd.Timedelta(days=1), periods=predictions.shape[0], freq='D')

# Inverse transform the predictions to get the actual prices
predicted_prices = scaler.inverse_transform(predictions)

# Create a DataFrame with the future dates and predicted prices
predictions_df = pd.DataFrame(data={'date': future_dates, 'predicted_close': predicted_prices.flatten()})

# Print the predictions DataFrame
print(predictions_df)

          date  predicted_close
0   2025-02-15        11.360401
1   2025-02-16        11.344900
2   2025-02-17        11.111287
3   2025-02-18        11.095645
4   2025-02-19        11.184175
..         ...              ...
278 2025-11-20        10.149955
279 2025-11-21        10.132904
280 2025-11-22        10.144271
281 2025-11-23        10.212457
282 2025-11-24        10.286278

[283 rows x 2 columns]

In [54]:
init_df

                close       date  scaled_close
date
2023-12-29  11.392626 2023-12-29      0.443191
2024-01-02  11.364590 2024-01-02      0.437499
2024-01-03  10.944025 2024-01-03      0.352101
2024-01-04  10.915987 2024-01-04      0.346408
2024-01-05  11.074866 2024-01-05      0.378669
...               ...        ...           ...
2025-02-10   9.240000 2025-02-10      0.006092
2025-02-11   9.210000 2025-02-11      0.000000
2025-02-12   9.230000 2025-02-12      0.004061
2025-02-13   9.350000 2025-02-13      0.028428
2025-02-14   9.480000 2025-02-14      0.054825

[283 rows x 3 columns]